@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Banner Style | Header Section */

.header{
    
    height: 652px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.banner{
   max-width: 998px;
    height: 552px;
    text-align: center;
}

.banner-img{
    max-width: 240px;
    height: 240px;

}

.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;


}

.banner-description{
    color: grey;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}

.banner-btn{
    max-width: 208px;
    height: 66px;
    font-family: "Azeret Mono", monospace;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
}

/* Question and Answer box style | section-1 */

.answer-box{
    max-width: 1200px;
    height: 1395px;
    margin: 78px 152px 88px 148px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;

}
.answer-box-container{
    max-width: 947px;
    height: 1235px;
    text-align: center;
    
   

}
.answer-box-title{
    font-size: 32px;
    font-weight: 800;
    color: black;

}
.answer-box-description{
    font-size: 16px;
    font-weight: 400;
    color: black;
    opacity: 0.7;

}
.answer-box-1{
    max-width: 947px;
    height: 236px;
    margin-top: 42px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
  
}
.answer-box-1-content{
    max-width: 477px;
    height: 220px;
    text-align: left;

}
.box-1-img{
    max-width: 259px;
    height: 217px;
    padding-right: 65px;
}

.box-title{
    font-size: 24px;
    font-weight: 700;
    color: black;
    opacity: 0.7;

}
.box-description{
    font-size: 16px;
    font-weight: 400;
    color: black;
    opacity: 0.7;
    margin-bottom: 32px;
}
.box-btn{
    max-width: 140px;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    margin-top: 32px 0px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}

.answer-box-2{
    max-width: 947px;
    height: 236px;
    margin-top: 42px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
   
}
.answer-box-2-content{
    text-align: left;
    max-width: 477px;
    height: 220px;
    padding-right: 65px;
}
.box-2-img{
    max-width: 223px;
    height: 208px;
}

.answer-box-3{
    max-width: 947px;
    height: 236px;
    margin-top: 42px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    
}
.answer-box-3-content{
    max-width: 477px;
    height: 220px;
    text-align: left;
}
.box-3-img{
    max-width: 206px;
    height: 187px;
    padding-right: 65px;
}